In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 데이터 불러오기
train  = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')

pd.set_option('display.max_columns', None)

In [3]:
train.drop_duplicates(inplace=True, keep='last')

In [4]:
# 설문조사 항목 결측치 처리
# 앞 순번 설문조사한 사람의 숫자를 채워넣기로 함
train = train.fillna(method='ffill')

In [5]:
valid_columns = []
for i in range(1, 27):
  valid_columns.append('Q'+str(i))
  
valid_columns.append('nerdiness')

In [6]:
train = train[valid_columns]

In [7]:
train.isnull().sum()

Q1           0
Q2           0
Q3           0
Q4           0
Q5           0
Q6           0
Q7           0
Q8           0
Q9           0
Q10          0
Q11          0
Q12          0
Q13          0
Q14          0
Q15          0
Q16          0
Q17          0
Q18          0
Q19          0
Q20          0
Q21          0
Q22          0
Q23          0
Q24          0
Q25          0
Q26          0
nerdiness    0
dtype: int64

In [8]:
from pycaret.classification import *

model = setup(
    data = train,
    target = "nerdiness",
    use_gpu = True,
    train_size=0.95,
    session_id = 42
)

In [9]:
top_5_model = compare_models(
                sort="AUC",
                n_select=3, 
                exclude=['xgboost'])

In [10]:
blended = blend_models(estimator_list = top_5_model, fold = 5, method = 'soft')

In [11]:
pred_holdout = predict_model(blended)

In [12]:
final_model = finalize_model(blended)

In [14]:
valid_columns.remove('nerdiness')
test = test[valid_columns]
test

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q17,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26
0,4.0,4.0,3.0,5.0,5.0,5.0,3.0,5.0,4.0,5.0,...,5.0,4.0,4.0,3.0,5.0,4.0,5.0,5.0,4.0,4.0
1,4.0,5.0,4.0,4.0,5.0,4.0,5.0,5.0,5.0,4.0,...,5.0,3.0,5.0,4.0,4.0,1.0,5.0,5.0,4.0,5.0
2,5.0,5.0,5.0,5.0,4.0,5.0,5.0,5.0,5.0,4.0,...,4.0,5.0,2.0,3.0,5.0,4.0,5.0,5.0,1.0,5.0
3,5.0,4.0,3.0,4.0,5.0,4.0,5.0,4.0,4.0,5.0,...,4.0,5.0,5.0,4.0,1.0,1.0,4.0,4.0,4.0,4.0
4,5.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,5.0,5.0,...,5.0,4.0,1.0,5.0,2.0,3.0,5.0,5.0,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35447,4.0,5.0,5.0,3.0,3.0,4.0,5.0,5.0,4.0,3.0,...,5.0,4.0,4.0,5.0,4.0,3.0,4.0,4.0,5.0,3.0
35448,5.0,5.0,5.0,5.0,5.0,4.0,5.0,3.0,5.0,3.0,...,5.0,5.0,5.0,5.0,5.0,2.0,4.0,4.0,3.0,5.0
35449,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,...,5.0,1.0,5.0,3.0,5.0,1.0,5.0,5.0,4.0,5.0
35450,5.0,5.0,4.0,5.0,5.0,1.0,5.0,1.0,5.0,5.0,...,5.0,1.0,5.0,1.0,5.0,5.0,5.0,5.0,5.0,5.0
35451,5.0,5.0,4.0,5.0,2.0,4.0,3.0,5.0,4.0,5.0,...,4.0,5.0,5.0,3.0,5.0,1.0,4.0,5.0,4.0,4.0

In [15]:
predictions = predict_model(final_model, data = test)