In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# 데이터 불러오기
train  = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')

pd.set_option('display.max_columns', None)

In [3]:
# # 설문조사 항목 결측치 처리
# # 앞 순번 설문조사한 사람의 숫자를 채워넣기로 함
# train = train.fillna(method='ffill')
# test = test.fillna(method='ffill')

In [4]:
train.drop_duplicates(inplace=True, keep='last')

In [5]:
# 값이 너무 커서 log 처리
train['intro_log'] = np.log(train['introelapse'])
train['test_log'] = np.log(train['testelapse'])
train['survey_log'] = np.log(train['surveyelapse'])

test['intro_log'] = np.log(test['introelapse'])
test['test_log'] = np.log(test['testelapse'])
test['survey_log'] = np.log(test['surveyelapse'])

In [6]:
train.drop(['country', 'index'], axis=1, inplace=True)
test.drop(['country', 'index'], axis=1, inplace=True)

In [7]:
for i,j in train['age'].iteritems():
    if j>100:
        train.loc[i, 'age'] = 100
        
for i,j in test['age'].iteritems():
    if j>100:
        test.loc[i, 'age'] = 100
        
for i,j in train['familysize'].iteritems():
    if j>10:
        train.loc[i, 'familysize'] = 10
        
for i,j in test['familysize'].iteritems():
    if j>10:
        test.loc[i, 'familysize'] = 10

In [8]:
train.isnull().sum().sum(), test.isnull().sum().sum()

(3513, 7731)

In [9]:
val_col = train.drop('nerdiness', axis=1).columns

In [10]:
from sklearn.preprocessing import MinMaxScaler

train[:] = np.nan_to_num(train)
test[:] = np.nan_to_num(test)

scaler = MinMaxScaler()

train[val_col] = scaler.fit_transform(train[val_col])
test[val_col] = scaler.transform(test[val_col])

In [31]:
from pycaret.classification import *

model = setup(
    data = train,
    target = "nerdiness",
    use_gpu = True,
    train_size=0.90,
    session_id = 2022
)

In [30]:
# val 5%
top_3_model = compare_models(
                sort="AUC",
                n_select=3, 
                exclude=['xgboost'])

In [33]:
blended = blend_models(estimator_list = top_3_model, fold = 5, method = 'soft')

In [34]:
pred_holdout = predict_model(blended)

In [35]:
final_model = finalize_model(blended)

In [21]:
predictions = predict_model(final_model, data = test)

In [22]:
submission = pd.read_csv('./data/sample_submission.csv')

In [27]:
submission['nerdiness'] = predictions['Label']

In [28]:
submission.to_csv('전처리두번째.csv', index=False)