In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings    # 경고메시지 제외
warnings.filterwarnings(action='ignore')

plt.rc('font', family='NanumGothic')
sns.set(font="NanumGothic",
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

In [2]:
import glob
df_2018_list = glob.glob('./data/데이터셋/data_2018_*.csv')

In [3]:
df_2018_full = pd.concat(map(pd.read_csv, df_2018_list), axis=0, ignore_index=True)

In [6]:
df_2018_full['date'].value_counts()

 0.0    425
-3.0     96
-2.0     96
-1.0     96
 1.0     96
 2.0     96
 3.0     95
Name: date, dtype: int64

In [7]:
df_2018_busan = df_2018_full.groupby('destination').get_group('부산')
df_2018_gwangju = df_2018_full.groupby('destination').get_group('광주')
df_2018_ganglung = df_2018_full.groupby('destination').get_group('강릉')
df_2018_daegu = df_2018_full.groupby('destination').get_group('대구')
df_2018_mockpo = df_2018_full.groupby('destination').get_group('목포')
df_2018_deageon = df_2018_full.groupby('destination').get_group('대전')

In [8]:
df_2018_busan

    when  date  year  hour destination    방향  spend_time
336   추석   0.0  2018     0          부산  귀성방향       214.2
337   추석   0.0  2018     1          부산  귀성방향       217.7
338   추석   0.0  2018     2          부산  귀성방향       220.6
339   추석   0.0  2018     3          부산  귀성방향       235.3
340   추석   0.0  2018     4          부산  귀성방향       248.2
..   ...   ...   ...   ...         ...   ...         ...
492   추석   0.0  2018    18          부산  귀성방향       260.2
493   추석   0.0  2018    19          부산  귀성방향       277.2
494   추석   0.0  2018    20          부산  귀성방향       268.1
495   추석   0.0  2018    21          부산  귀성방향       251.6
496   추석   0.0  2018    22          부산  귀성방향       240.8

[161 rows x 7 columns]