In [1]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings    # 경고메시지 제외
warnings.filterwarnings(action='ignore')

plt.rc('font', family='NanumGothic')
sns.set(font="NanumGothic",
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

df_busan = pd.read_csv('./data/데이터셋/날씨전처리완료결측치완료.csv')

In [19]:
traffic_2017_df = pd.read_csv('./data/교통량/2018년교통량.csv', encoding='cp949', index_col=False)
traffic_2018_df = pd.read_csv('./data/교통량/2019년교통량.csv', encoding='cp949', index_col=False)
traffic_2019_df = pd.read_csv('./data/교통량/2020년교통량.csv', encoding='cp949', index_col=False)
traffic_2020_df = pd.read_csv('./data/교통량/2021년교통량.csv', encoding='cp949', index_col=False)

10번이 경부선에 대한 코드였다.

In [22]:
traffic_2017_df.loc[817:819]

       조회기간  특송구분  귀성귀경구분  특송기간   TCS노선번호   교통량. 전년도
817  2018.0    추석      귀성   D-1        10      72609
818  2018.0    추석      귀성   D-2        10      73232
819  2018.0    추석      귀성   D-3        10      72043

In [25]:
traffic_2018_df.loc[806:808]

       조회기간  특송구분  귀성귀경구분  특송기간   TCS노선번호   교통량. 전년도
806  2019.0    추석      귀성   D-1        10      80239
807  2019.0    추석      귀성   D-2        10      77537
808  2019.0    추석      귀성   D-3        10      70033

In [26]:
traffic_2019_df.loc[837:839]

       조회기간  특송구분  귀성귀경구분  특송기간   TCS노선번호   교통량. 전년도
837  2020.0    추석      귀성   D-1        10      66886
838  2020.0    추석      귀성   D-2        10      79017
839  2020.0    추석      귀성   D-3        10      72068

In [27]:
traffic_2020_df.loc[864:866]

       조회기간  특송구분  귀성귀경구분  특송기간   TCS노선번호   교통량. 전년도
864  2021.0    추석      귀성   D-1        10      71095
865  2021.0    추석      귀성   D-2        10      73812
866  2021.0    추석      귀성   D-3        10      75997

D  ~  D+2에 대한 데이터가 없어 임의로 처리하는 것 보다는 평균값이 제공되므로 해당 값을 해당 년도에 전체적으로 집어 넣어주면 될 듯 하다.

In [30]:
traffic_2017_df.loc[113]

조회기간         2018.0
 특송구분            추석
 귀성귀경구분          귀성
 특송기간            평균
 TCS노선번호         10
 교통량. 전년도     72628
Name: 113, dtype: object

In [31]:
traffic_2018_df.loc[113]

조회기간         2019.0
 특송구분            추석
 귀성귀경구분          귀성
 특송기간            평균
 TCS노선번호         10
 교통량. 전년도     75936
Name: 113, dtype: object

In [32]:
traffic_2019_df.loc[113]

조회기간         2020.0
 특송구분            추석
 귀성귀경구분          귀성
 특송기간            평균
 TCS노선번호         10
 교통량. 전년도     72657
Name: 113, dtype: object

In [33]:
traffic_2020_df.loc[113]

조회기간         2021.0
 특송구분            추석
 귀성귀경구분          귀성
 특송기간            평균
 TCS노선번호         10
 교통량. 전년도     73635
Name: 113, dtype: object

하지만 평균값은 시간과 상관없는 것으로 판단..